.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: left;
  margin: auto;
  
  img {
vertical-align: left;
border-style: solid;
border-color: black;
border-size: 50px;
}
}

/* The dots/bullets/indicators */
.dot {
  height: 0px;
  width: 0px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.instilogo {
    height: 50px;
    filter: grayscale(20%);
}
/*
a:hover {
    color: blue; 
    /* font-weight: 400; */
    text-decoration: underline;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
*/

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
    font-size: 11pt;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: blue;
}

.profilepic {
    width: 160px;
    border-radius: 30%;
    /* filter: grayscale(100%); */
}

@media (min-width: 780px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 100px;
        border-radius: 30%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
